---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <style>
    :root {
      --max-container-width: 990px;
      --gap: 1rem;
      --hpa-width: 155px;
      --left-column-width: 300px;
    }
    body {
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    header,
    footer {
      background-color: #2b2d42;
      color: white;
    }
    #page {
      margin: calc(var(--gap) * 5) 0 0 0;
      box-sizing: content-box;
    }
    #app {
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      gap: var(--gap);
      padding: var(--gap);
    }
    main {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
    }
    #hpa-wrapper {
      position: relative;
    }
    .hpa {
      box-sizing: content-box;
      display: none;
      position: absolute;
    }
    .hpa.hpa-150 {
      background-color: #eea5dc;
      width: 150px;
      z-index: 1001;
      text-align: left;
    }
    .hpa.hpa-300 {
      background-color: #ff66d8;
      width: 300px;
      z-index: 1000;
      text-align: right;
    }
    .hpa.hpa-600 {
      background-color: #a5418c;
      width: 600px;
      text-align: right;
    }
    .section {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
    }
    .content {
      background-color: #f7ec59;
      flex-grow: 1;
    }
    .right {
      background-color: #92dce5;
      box-sizing: content-box;
    }
    .box-rounded {
      border-radius: 8px;
      text-align: center;
      padding: 1rem;
    }

    /* right COLUMN VISIBLE */
    @media screen and (min-width: 1024px) {
      .section {
        flex-direction: row;
      }

      .right {
        width: var(--left-column-width);
      }
    }

    /* HPA VISIBLE */
    @media screen and (min-width: 1370px) {
      #page {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        padding-left: var(--gap);
        padding-right: calc(var(--hpa-width) + var(--gap));
        margin-left: auto;
        margin-right: auto;
        max-width: calc(
          var(--max-container-width) + var(--gap) + var(--hpa-width)
        );
      }

      .hpa {
        display: block;
      }
    }

    /* MAX APP WIDTH */
    @media screen and (min-width: 1680px) {
      #page {
        margin-left: auto;
        margin-right: auto;
      }
    }
  </style>
  <body>
    <div id="page">
      <div id="app">
        <header class="box-rounded">header | <b>flex</b></header>
        <main>
          <div class="section">
            <div class="content box-rounded">content</div>
            <div class="right box-rounded">right</div>
          </div>

          <div class="section">
            <div class="content box-rounded">content</div>
            <div class="right box-rounded">right</div>
          </div>

          <div class="section">
            <div class="content box-rounded">content</div>
            <div class="right box-rounded">right</div>
          </div>

          <div class="section">
            <div class="content box-rounded">content</div>
          </div>

          <div class="section">
            <div class="content box-rounded">content</div>
            <div class="right box-rounded">right</div>
          </div>

          <div class="section">
            <div class="content box-rounded">content</div>
            <div class="right box-rounded">right</div>
          </div>

          <div class="section">
            <div class="content box-rounded">content</div>
            <div class="right box-rounded">right</div>
          </div>

          <div class="section">
            <div class="content box-rounded">content</div>
          </div>

          <div class="section">
            <div class="content box-rounded">content</div>
            <div class="right box-rounded">right</div>
          </div>

          <div class="section">
            <div class="content box-rounded">content</div>
            <div class="right box-rounded">right</div>
          </div>
        </main>
        <footer class="box-rounded">footer</footer>
      </div>
      <div id="hpa-wrapper">
        <div class="hpa hpa-150 box-rounded">HPA 150</div>
        <div class="hpa hpa-300 box-rounded">HPA 300</div>
        <div class="hpa hpa-600 box-rounded">HPA 600</div>
      </div>
    </div>
  </body>
</html>
