---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orbit Grid</title>
    <style>
      body {
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2px;
        text-align: center;
      }

      .container {
        width: calc(100vw - (2 * 19px));
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-gap: clamp(0.375rem, 0.11rem + 1.324vw, 1.5rem);
        max-width: 1680px;
        margin: 0 auto;
        background: white;
      }

      @media screen and (min-width: 760px) {
        .container {
          width: calc(100vw - (2 * 29px));
        }
      }

      @media screen and (min-width: 1024) {
        .container {
          width: calc(100vw - (2 * 16px));
        }
      }

      @media screen and (min-width: 1680px) {
        .container {
          width: calc(100vw - (2 * 204px));
        }
      }

      .col {
        background-color: #f7ec59;
        height: 20px; /* TEMP */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
      <div class="col">5</div>
      <div class="col">6</div>
      <div class="col">7</div>
      <div class="col">8</div>
      <div class="col">9</div>
      <div class="col">10</div>
      <div class="col">11</div>
      <div class="col">12</div>
      <div class="col">13</div>
      <div class="col">14</div>
      <div class="col">15</div>
      <div class="col">16</div>
      <div class="col">17</div>
      <div class="col">18</div>
      <div class="col">19</div>
      <div class="col">20</div>
      <div class="col">21</div>
      <div class="col">22</div>
      <div class="col">23</div>
      <div class="col">24</div>
    </div>
  </body>
</html>
